section .container::after {
    display: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Text Styling ------------------------------------- */

.expandable {
    /* border: 1px solid #000; */
    margin-bottom: 1em;
}

/* Hides all the expandees */
.expandable .expandee {
    display: none;
}

/* Shows the expandee when .expanded is added to the parent of expandee */
.expanded .expandee {
    display: block;
}

.toggle-button {
    display: block;
    margin-inline: auto;
    background-color: white;
    color: var(--color-primary);
    border-radius: 0;
    border-top: 1px solid var(--color-background-card);
    border-inline: none;
    border-bottom: none;
    width: 180px;
    box-shadow: none;
}

.toggle-button:hover {
    border-top: 1px solid var(--color-primary);
    border-inline: none;
    border-bottom: none;
}

@media (min-width: 768px) {
    .expandable .expandee {
        display: block;
    }

    .toggle-button {
        display: none;
    }
}

.text-center {
    text-align: center;
}

.text-md {
    font-size: 1rem;
    font-weight: 300;
    max-width: 42rem;
}

.text-underline {
    cursor: pointer;
    color: white;
    border-bottom: 1px solid var(--text-light);
}

.text-underline:hover {
    border-color: white;
}

.text-button {
    font-size: 1rem;
}

.text-detail {
    font-size: 0.62rem;
}

/* Table */

.text-thead-1 {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-thead-2 {
    font-size: 1rem;
    font-weight: 500;
    margin-block: 0.2rem 0.6rem;
}

.text-tbody {
    font-size: 0.86rem;
    font-weight: 300;
    color: white;
}

.text-tsmall {
    font-size: 0.62rem;
    font-weight: 300;
    color: var(--text-light);
    margin-top: 1.4rem;
}

/* Spacing ----------------------------------------- */

.margin-inline {
    margin-inline: auto;
}

.margin-top-1 {
    margin-top: 1rem;
}

/* Switch ------------------------------------------- */

/* Plan */

.plan {
    display: flex;
    justify-content: center;
    gap: 7rem;
    position: relative;
    top: 0.32rem;
    margin-top: 3rem;
}

.plan p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .plan-left {
    width: 1.9rem;
  } */
.plan-left img {
    position: relative;
    bottom: 0.4rem;
    /* left: 0.09rem; */
}

.plan-right {
    /* width: 9rem; */
    text-align: start;
}

/* Toggle */

:root {
    --width: 60px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--width) / 2);
}

.toggle-input {
    display: none;
}

.toggle-label {
    cursor: pointer;
    position: relative;
    top: 5.9rem;
    left: calc(50% - (var(--width)/2));
    display: flex;
    padding: 18px;
    background: rgb(202, 202, 202);
    color: transparent;
    border-radius: var(--border-radius);
    height: var(--height);
    width: var(--width);
    transition: background ease 0.3s;
    z-index: 2;
}

.toggle-label::after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    background: white;
    height: var(--height);
    width: var(--height);
    border-radius: var(--border-radius);
    transition: ease 0.3s;
    box-shadow: var(--color-box-shadow);
}

#switch:checked+.toggle-label {
    background: var(--color-monet);
    transition: background ease 0.3s;
}

#switch:checked+.toggle-label::after {
    transform: translate(-10%, -50%);
    transition: ease 0.3s;
}

/* Table -------------------------------------------- */

.table {
    padding-bottom: 4rem;
}

.table-text span {
    font-weight: 600;
    /* display: block; */
}

.toggle-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-inline: 14%; */
}

.hidden {
    display: none;
}

table {
    min-width: 100%;
    border-collapse: collapse;
}

table img {
    width: 8rem;
}

thead th {
    position: relative;
}

thead tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

tbody td {
    padding-inline: 0.6rem;
    height: 4rem;
    border-bottom: 0.6px solid gray;
    text-align: center;
    color: var(--color-primary);
}

.plan-left p {
    color: var(--color-monet);
    text-shadow: 0 0 3px var(--color-monet);
}

#switch:checked~.toggle-price .plan-right p {
    color: var(--color-monet-hover);
    text-shadow: 0 0 3px var(--color-monet);
}

#switch:checked~.toggle-price .plan-left p {
    color: var(--color-teriary);
    text-shadow: none;
}

#switch:checked~.table-content {
    display: none;
}

#switch:checked~.hidden {
    display: block;
}




















/* nav item fix */

.cemetery-navItem {
    position: relative;
}

.cemetery-navItem span {
    position: absolute;
    top: -15px;
    font-size: 10px;
    text-align: center;
    width: 50px;
    left: calc(50% - 25px);
}

.links.cemetery-navItem::before {
    bottom: -10px;
}

/* nav fix end */

i {
    font-size: smaller;
    opacity: .7;
}

u {
    text-underline-offset: 3px;
}

b {
    font-size: x-large;
    line-height: 2rem;
}

/* b,
u {
    color: var(--color-teriary-hover);
    font-weight: 600;
} */

#pricing-home {
    margin-bottom: 0;
}

.pricing-about__products h4,
#pricing-cards .container {
    text-align: left;
}

.pricing-about__wrapper,
.pricing-about__products {
    flex-direction: column;
}

.pricing-about__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pricing-about__wrapper h4 {
    text-transform: none;
    font-size: 18px;
}

.pricing-about__products {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.pricing-about__products ul li {
    list-style-type: "✓ ";
    color: var(--color-monet);
    text-align: left;
    position: relative;
}

/* .pricing-about__products ul li::after {
    content: '';
    position: absolute;
    left: -21px;
    top: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid var(--color-monet);
} */

.pricing-about__products ul li::marker {
    font-weight: bold;
}

.pricing-about__products ul li p {
    padding-left: 5px;
    margin: .3rem auto;
}

.price,
.price-item {
    display: flex;
    justify-content: flex-start;
}

.price-item:nth-child(1) {
    margin-top: 0;
    margin-bottom: 1rem;
}

.price {
    align-items: flex-start;
    padding: .6rem;
}

.initial {
    margin-top: 0;
}

.price p {
    margin: 0 .5rem .5rem .5rem;
}

.price-tag {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: -2px;
}

.main {
    font-size: 50px;
    padding-top: 15px;
    color: var(--color-monet);
}

.subprices {
    display: flex;
    flex-direction: column;
}

#tombstone-special {
    border: 1px solid var(--color-teriary);
    background-color: var(--color-background-card);
    padding: 1.5rem;
}

#tombstone-special h4 {
    margin-top: 0;
}

.special {
    text-align: left;
    border: 1px solid var(--color-teriary);
    border-radius: 15px;
    position: relative;
    align-items: center;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.special::before {
    content: 'Click for more details';
    position: absolute;
    top: -13px;
    left: 25px;
    width: 125px;
    height: 25px;
    font-size: 11px;
    /* background-color: var(--color-primary); */
    background-color: white;
    padding-left: 10px;
}

.special::before {
    color: var(--color-teriary);
}

.pricing-card button {
    margin-top: 2rem;
    margin-bottom: .5rem;
    width: 96%;
}

.pricing-card button a {
    color: var(--color-secondary);
    text-decoration: none;
    padding: 0rem 2rem;
    display: block;
}

.pricing-card button:hover>a {
    color: var(--color-primary);
}

.pricing-card {
    max-width: 95%;
    padding-top: 2rem;
    padding-bottom: .5rem;
    padding-inline: .4rem;
    margin: 4rem 0;
    border-radius: var(--border-radius);
    /* outline: 1px solid; */
    /* box-shadow: var(--color-box-shadow); */
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dark-card {
    box-shadow: 0 45px 60px rgba(0, 0, 0, 0.4);
}

.pricing-card h3 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    /* line-height: 20px; */
}

.special::before,
.pricing-sub-text {
    font-weight: normal;
}

.big small {
    font-size: 25px;
}

.price-item small,
.price p:first-child,
.price-more {
    font-weight: 600;
    color: var(--color-secondary-hover);
}

.price-more {
    /* margin-top: 3rem; */
    margin-bottom: 15px;
}

.price-more:not(.pricing-card:first-child .price-more) {
    margin-bottom: 10px;
}

.pricing-sub {
    margin-top: .3rem;
    margin-bottom: 2rem;
}

.dark-card {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
}

.dark-card .price p:first-child:not(.special p:first-child),
.dark-card .price-more {
    font-weight: normal;
    color: var(--color-secondary);
}

.dark-card .special::before {
    background-color: var(--color-primary);
}

/* .pricing-card .price-item p.main, */
.pricing-card h3 {
    color: var(--color-secondary);
    text-align: center;
}

.pricing-header,
.pricing-sub-text span,
.special p:first-child {
    color: var(--color-monet);
    font-weight: 600;
}

.flex-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    max-width: 100%;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.gallery-item {
    flex: 0 0 50%;
    padding: 0.3rem;
    justify-content: center;
}

.gallery-item img {
    border-radius: 10px;
    box-shadow: var(--color-box-shadow);
    max-height: 250px;
    cursor: pointer;
}

[data-modal-target="modal18"] {
    flex: 0 0 60%;
    height: 12rem;
    overflow: hidden;
    object-fit: cover;
}

#story .gallery-item {
    flex-basis: 50%;
}

.gallery-item__item {
    display: flex;
    flex-direction: column;
}

.block {
    display: inline-block;
}

.footer-bottom p {
    text-align: center;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .pricing-about__products {
        flex-direction: row;
    }

    .gallery-item img {
        max-height: 350px;
    }
}

@media (min-width: 992px) {

    #pricing-cards .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media (min-width: 576px) {
    .gallery-item {
        flex: 1 1 33%;
        padding: .3rem;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }

    #story .gallery-item {
        flex-basis: min-content;
    }

    .pricing-card {
        margin-inline: auto;
    }
}

@media (min-width: 768px) {
    .gallery-item__item {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pricing-card {
        max-width: 80%;
    }
}


/* @media (min-width: 1200px) {
}
@media (min-width: 1400px) {
} */